<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fashion" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
   
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">FASHION STORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse"> 

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "ãƒ›ãƒ¼ãƒ ", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ã‚·ãƒ£ãƒ„", shirts_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ã‚¹ã‚¦ã‚§ãƒƒãƒˆ", sweats_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ã‚¢ã‚¦ã‚¿ãƒ¼", afters_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ãƒ‘ãƒ³ãƒ„", pants_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ã‚¹ãƒ‹ãƒ¼ã‚«ãƒ¼", sneakers_path, class: "nav-link" %>
        </li>
      </ul>
       
    <!-- å³å´ï¼šãƒ­ã‚°ã‚¤ãƒ³é–¢é€£ -->
    <ul class="navbar-nav ml-auto mr-3">

      <li class="nav-item">
          <%= link_to "ãŠæ°—ã«å…¥ã‚Š", favorites_path, class: "nav-link" %>
        </li>

      <% if user_signed_in? %>
        <!-- ã‚«ãƒ¼ãƒˆã‚¢ã‚¤ã‚³ãƒ³ -->
        <li class="nav-item">
          <%= link_to cart_path, class: "nav-link position-relative" do %>
            ðŸ›’ ã‚«ãƒ¼ãƒˆ
            <% total_qty = current_user.cart_items.sum(:quantity) %>
            <% if total_qty > 0 %>
              <span class="badge badge-pill badge-danger"
                    style="position: absolute; top: 0; right: 0; font-size: 0.7rem;">
                <%= total_qty %>
              </span>
            <% end %>
          <% end %>
        </li>

     
        <li class="nav-item">
          <%= link_to "ãƒžã‚¤ãƒšãƒ¼ã‚¸", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= button_to "ã‚²ã‚¹ãƒˆãƒ­ã‚°ã‚¤ãƒ³", guest_sign_in_path, method: :post, class: "btn btn-outline-light btn-sm ml-2 mt-1 align-self-center" %>
        </li>
      <% end %>
    </ul>
    

      <%= form_with url: search_products_path,
              method: :get,
              local: true,
              class: "form-inline mt-2 mt-md-0" do |f| %>
      <%= f.text_field :q,
        value: params[:q],
        class: "form-control mr-sm-2",
        placeholder: "å•†å“åãƒ»ã‚«ãƒ†ã‚´ãƒªã§æ¤œç´¢" %>
       <%= f.submit "æ¤œç´¢",
        class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %>
    </div>
  </nav>
 
  <div class="container" style="margin-top: 80px;">
  <% flash.each do |key, value| %>
    <% bootstrap_class =
      case key
      when "notice" then "alert-success"
      when "alert"  then "alert-danger"
      else "alert-info"
      end %>

    <div class="alert <%= bootstrap_class %> alert-dismissible fade show" role="alert">
      <%= value %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
  
  <div class="container" style="padding-top: 80px;">
    <%= yield %>
  </div>
</body>
</html>
